cffi==1.9.1
colorama==0.3.7
cryptography==1.7.1
cycler==0.10.0
enum34==1.1.6
funcsigs==1.0.2
idna==2.1
inflection==0.3.1
ipaddress==1.0.17
matplotlib==1.5.3
mock==2.0.0
more-itertools==2.4.1
ndg-httpsclient==0.4.2
nltk==3.2.1
numpy==1.11.2
olefile==0.43
pandas==0.19.1
pbr==1.10.0
Pillow==4.0.0
protobuf==3.1.0
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
Quandl==3.0.1
requests==2.12.4
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
sklearn==0.0
tensorflow==0.12.0rc1
